In [1]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [2]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')
mycursor = cnx.cursor()

try:
    mycursor.execute("CREATE DATABASE cinem_extract") # creamos bdd
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE DATABASE cinem_extract

In [7]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='cinem_extract')

mycursor = cnx.cursor()

# creamos tabla movies
query = """CREATE TABLE movies(
                        id_imdb VARCHAR(45) NOT NULL, 
                        type VARCHAR(45), 
                        name VARCHAR(45), 
                        release_year YEAR,
                        release_month SMALLINT,
                        genre SMALLINT,
                        PRIMARY KEY (id_imdb)
                        );"""
try:
    mycursor.execute(query) 
    print(mycursor)
    print("Tabla creada")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE movies(
                   ..
Tabla creada

In [8]:
query_table_movies_details = """CREATE TABLE movies_details(
                                id_imdb VARCHAR(45) NOT NULL, 
                                score_imdb FLOAT, 
                                score_rt INT, 
                                director_imdb VARCHAR(45),
                                screenwriters_imdb VARCHAR(45),
                                plot_rt VARCHAR(255),
                                duration_imdb INT,
                                title_imdb VARCHAR(100),
                                PRIMARY KEY (id_imdb)
                                );"""
try:
    mycursor.execute(query_table_movies_details) 
    print(mycursor)
    print("Tabla creada")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE movies_details(
           ..
Tabla creada

In [10]:
query_table_oscars = """CREATE TABLE oscars(
                        ceremony_year YEAR NOT NULL, 
                        best_movie VARCHAR(100), 
                        best_director VARCHAR(45), 
                        best_actor VARCHAR(45),
                        best_actress VARCHAR(45),
                        PRIMARY KEY (ceremony_year)
                        );"""
try:
    mycursor.execute(query_table_oscars) 
    print(mycursor)
    print("Tabla creada")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

CMySQLCursor: CREATE TABLE oscars(
                   ..
Tabla creada

In [ ]:
def create_table():
    query_table_oscars = """CREATE TABLE oscars(
                        ceremony_year YEAR NOT NULL, 
                        best_movie VARCHAR(100), 
                        best_director VARCHAR(45), 
                        best_actor VARCHAR(45),
                        best_actress VARCHAR(45),
                        PRIMARY KEY (ceremony_year)
                        );"""
try:
    mycursor.execute(query_table_oscars) 
    print(mycursor)
    print("Tabla creada")
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)